In [2]:
import pandas as pd

In [80]:
selected_columns = [
    'Street Code1',
    'Street Code2',
    'Street Code3',
    'Street Name',
    # 'Violation Location',
    # 'Violation Post Code',
    # 'Intersecting Street',
    'Violation Precinct',
    'Violation County',
    # 'Vehicle Body Type',
    'Issue Date',
    # 'Date First Observed',
    'Violation Time',
    #'Days Parking In Effect',
    #'From Hours In Effect',
    #'To Hours In Effect',
    # 'Violation Code',
]

file_path = 'Parking_Violations_2023.csv'
df = pd.read_csv(file_path, usecols=selected_columns) # nrows=n_rows_to_read
df

,Issue Date,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name
0,06/10/2022,34330,179,0,10,1037A,NY,W 28TH ST
1,06/13/2022,34310,16400,11010,10,1045A,NY,27TH DR
2,06/19/2022,30640,13015,28540,1,1116A,NY,SOUTH ST
3,06/19/2022,30640,13015,28540,1,1052A,NY,SOUTH ST
4,06/19/2022,30640,13015,28540,1,1107A,NY,SOUTH ST
...,...,...,...,...,...,...,...,...
21563497,09/26/2023,30155,0,0,7,1207P,NY,Samuel Dickstein Plz
21563498,09/22/2023,0,0,0,45,0354P,BX,Boller Ave
21563499,09/16/2023,9180,5580,5680,72,1231P,K,52nd St
21563500,09/26/2023,93930,55430,58330,94,1015A,K,Withers St
21563501,09/25/2023,64290,7990,37290,114,1145A,Q,Steinway St

In [81]:
filtered_df = df[(df['Street Name'].str.contains('13')) & (df['Violation Precinct'] == 78)].copy()
filtered_df['Street Name'] = filtered_df['Street Name'].str.upper()
filtered_df

,Issue Date,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name
12114,07/12/2022,6430,5130,5280,78,0321A,Kings,13 STREET
12115,07/12/2022,6430,5130,5280,78,0323A,Kings,13 STREET
12116,07/12/2022,6430,5130,5280,78,0328A,Kings,13 STREET
12117,07/12/2022,6430,5130,5280,78,0330A,Kings,13 STREET
16348,07/08/2022,6430,5130,5280,78,0319A,Kings,13 STREET
...,...,...,...,...,...,...,...,...
21542162,09/11/2023,6430,5580,5680,78,0911A,K,13TH ST
21542163,09/11/2023,6430,5430,5580,78,0918A,K,13TH ST
21542164,09/11/2023,6430,5430,5580,78,0918A,K,13TH ST
21543812,09/14/2023,6430,5280,5430,78,0945A,K,13TH ST
21545493,09/08/2023,6430,5880,72630,78,0950A,K,13TH ST

In [82]:
filtered_df['Street Name'].value_counts()

Street Name
13TH ST                 2477
13 STREET                205
13TH AVE                  39
13 ST                     21
13TH STREET               16
E 13TH ST                 14
I/F 130 3RD AVE            2
N/S OF 13 STREET 10'       1
OPPOSITE OF 273 13 S       1
SIDE OF 413 UNION ST       1
R/O 130 3RD AVENUE         1
138 ST                     1
FRONT OF 409 13 STRE       1
BAY 13TH ST                1
Name: count, dtype: int64

In [83]:
to_drop = ['W 13TH ST', '13TH AVE', 'BRIGHTON 13TH ST', 'W 113TH STREET', 'S/S 138 ST', 'BAY 13TH ST', '138 ST', 'E 13TH ST', 'A 13 ST', 'E 13 ST', 'E 13TH ST', 'W 13 ST', 'R/O 1301 8 AVE', 'S/O 1301 8 AVE', 'R/O 1301 8TH AVE', 'FRONT OF 139 7 AVENU', 'FRONT OF 180 13 STRE', 'FRONT OF 313 9 STREE', 'S/S OF 13 STREET 40', 'FRONT OF 139 14 STRE', 'I/F 130 3RD AVE', 'N/S OF 13 STREET 10', 'OPPOSITE OF 273 13 S', 'SIDE OF 413 UNION ST', 'R/O 130 3RD AVENUE', 'FRONT OF 409 13 STRE']
filtered_df = filtered_df[~filtered_df['Street Name'].isin(to_drop)]

filtered_df['Street Name'] = '13TH STREET'

C:\Users\YSK\AppData\Local\Temp\ipykernel_2152\1901412582.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Street Name'] = '13TH STREET'

In [84]:
filtered_df['Street Name'].value_counts()

Street Name
13TH STREET    2720
Name: count, dtype: int64

In [85]:
filtered_df.to_csv('2023_data_for_one_street.csv', index=False)

In [3]:
file_name = ['2017_data_for_one_street.csv', '2018_data_for_one_street.csv', '2019_data_for_one_street.csv', '2020_data_for_one_street.csv', '2021_data_for_one_street.csv', '2022_data_for_one_street.csv', '2023_data_for_one_street.csv']

all_data_for_one_street = pd.concat([pd.read_csv(file) for file in file_name], ignore_index=True)
all_data_for_one_street.to_csv('all_data_for_one_street.csv', index=False)