In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
selected_columns = [
    'Street Code1',
    'Street Code2',
    'Street Code3',
    'Street Name',
    # 'Violation Location',
    'Violation Post Code',
    'Intersecting Street',
    'Violation Precinct',
    'Violation County',
    'Vehicle Body Type',
    'Issue Date',
    # 'Date First Observed',
    'Violation Time',
    'Days Parking In Effect',
    'From Hours In Effect',
    'To Hours In Effect',
    'Violation Code',
]

'''
Genel olarak, "county" (ilçe) daha büyük bir alanı temsil eder. Bir "county", genellikle belirli bir eyaletin sınırları içinde bulunan büyük bir coğrafi bölgeyi kapsar. Bir eyalette birden çok "county" bulunabilir ve her biri kendi yerel yönetimine sahiptir.

Öte yandan, "precinct" (seçim bölgesi) daha küçük bir coğrafi bölgeyi ifade eder. Bu, genellikle seçmenlerin oy kullandığı belirli bir mahalle veya köyü temsil eder. Seçim bölgesi, seçimlerde kullanılan ve oy verme işlemini düzenleyen bir kavramdır.
'''

n_rows_to_read = 5000
file_path = 'Parking_Violations_2022.csv'
df = pd.read_csv(file_path, usecols=selected_columns, nrows=n_rows_to_read) # nrows=n_rows_to_read
df

,Issue Date,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code
0,06/25/2021,40,VAN,63430,69230,13490,88,0130A,K,NORTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN
1,06/25/2021,20,SUBN,13490,40404,40404,88,0225A,K,AUBURN PLACE,NaN,BBBBBBB,ALL,ALL,NaN
2,06/17/2021,98,SDN,79430,47130,11750,88,0809P,K,SOUTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN
3,06/16/2021,98,SDN,53130,23230,23930,83,0605P,K,JEFFERSON ST,NaN,BBBBBBB,ALL,ALL,NaN
4,07/04/2021,40,TAXI,81030,23930,40030,83,1058P,K,STANHOPE ST,NaN,BBBBBBB,ALL,ALL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,07/16/2021,82,DELV,18150,10210,10110,17,0901A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN
9996,07/16/2021,84,DELV,18150,10210,10110,17,0955A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN
9997,07/16/2021,47,VAN,18150,10010,32080,17,1008A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN
9998,07/16/2021,40,VAN,0,0,0,17,1015A,NY,S/O E 58TH ST,W/O SUTTON PL,BBBBBBB,ALL,ALL,NaN
9999,07/16/2021,19,DELV,18130,10210,10110,17,1205P,NY,E 57TH ST,NaN,BBBBBBB,ALL,ALL,NaN

In [3]:
df['Violation Precinct'].isna().sum()

0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue Date              10000 non-null  object
 1   Violation Code          10000 non-null  int64
 2   Vehicle Body Type       9487 non-null   object
 3   Street Code1            10000 non-null  int64
 4   Street Code2            10000 non-null  int64
 5   Street Code3            10000 non-null  int64
 6   Violation Precinct      10000 non-null  int64
 7   Violation Time          9994 non-null   object
 8   Violation County        8843 non-null   object
 9   Street Name             9980 non-null   object
 10  Intersecting Street     1592 non-null   object
 11  Days Parking In Effect  9969 non-null   object
 12  From Hours In Effect    9969 non-null   object
 13  To Hours In Effect      9969 non-null   object
 14  Violation Post Code     0 non-null      float64
dtypes: float64(1), int64(5), object(9)
memory usage: 1.1+ MB

In [5]:
df['Violation Time']

0       0130A
1       0225A
2       0809P
3       0605P
4       1058P
        ...
9995    0901A
9996    0955A
9997    1008A
9998    1015A
9999    1205P
Name: Violation Time, Length: 10000, dtype: object

In [6]:
df_1 = df.copy()

In [7]:
# import sweetviz as sv
# analyze_report = sv.analyze(df_1)
# analyze_report.show_html('analyze.html', open_browser=False)

In [8]:
df_1['Violation Date'] = pd.to_datetime(df_1['Issue Date'])
df_1['Violation Date (Month)'] = df_1['Violation Date'].dt.month
df_1['Violation Date (Day)'] = df_1['Violation Date'].dt.day
df_1['Violation Date (Year)'] = df_1['Violation Date'].dt.year
df_1 = df_1.drop(columns=['Issue Date'])

In [9]:
df_1

,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code,Violation Date,Violation Date (Month),Violation Date (Day),Violation Date (Year)
0,40,VAN,63430,69230,13490,88,0130A,K,NORTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-25,6,25,2021
1,20,SUBN,13490,40404,40404,88,0225A,K,AUBURN PLACE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-25,6,25,2021
2,98,SDN,79430,47130,11750,88,0809P,K,SOUTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-17,6,17,2021
3,98,SDN,53130,23230,23930,83,0605P,K,JEFFERSON ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-16,6,16,2021
4,40,TAXI,81030,23930,40030,83,1058P,K,STANHOPE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-04,7,4,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,82,DELV,18150,10210,10110,17,0901A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9996,84,DELV,18150,10210,10110,17,0955A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9997,47,VAN,18150,10010,32080,17,1008A,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9998,40,VAN,0,0,0,17,1015A,NY,S/O E 58TH ST,W/O SUTTON PL,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9999,19,DELV,18130,10210,10110,17,1205P,NY,E 57TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021

In [10]:
def convert_to_24hr_format(time_str):
    if '.' in time_str:
        return None
    if time_str[-1] == 'P':
        return '{:02d}:{:02d}'.format((int(time_str[:2]) + 12) % 24, int(time_str[2:4]))
    elif time_str[-1] == 'A':
        return '{:02d}:{:02d}'.format(int(time_str[:2]) % 12, int(time_str[2:4]))
    else:
        return None

df_1['Violation Time'] = df_1['Violation Time'].astype(str)
df_1.loc[:, 'Violation Time'] = df_1['Violation Time'].apply(convert_to_24hr_format)
df_1 = df_1.dropna(subset=['Violation Time'])

In [11]:
df_1.loc[:, 'Violation Time'] = pd.to_datetime(df_1['Violation Time'], format='%H:%M', errors='coerce').dt.time

C:\Users\YSK\AppData\Local\Temp\ipykernel_14388\163225079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.loc[:, 'Violation Time'] = pd.to_datetime(df_1['Violation Time'], format='%H:%M', errors='coerce').dt.time

In [12]:
df_1['Violation Time']

0       01:30:00
1       02:25:00
2       20:09:00
3       18:05:00
4       22:58:00
          ...
9995    09:01:00
9996    09:55:00
9997    10:08:00
9998    10:15:00
9999    00:05:00
Name: Violation Time, Length: 9991, dtype: object

In [13]:
df_1

,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code,Violation Date,Violation Date (Month),Violation Date (Day),Violation Date (Year)
0,40,VAN,63430,69230,13490,88,01:30:00,K,NORTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-25,6,25,2021
1,20,SUBN,13490,40404,40404,88,02:25:00,K,AUBURN PLACE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-25,6,25,2021
2,98,SDN,79430,47130,11750,88,20:09:00,K,SOUTH PORTLAND AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-17,6,17,2021
3,98,SDN,53130,23230,23930,83,18:05:00,K,JEFFERSON ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-06-16,6,16,2021
4,40,TAXI,81030,23930,40030,83,22:58:00,K,STANHOPE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-04,7,4,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,82,DELV,18150,10210,10110,17,09:01:00,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9996,84,DELV,18150,10210,10110,17,09:55:00,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9997,47,VAN,18150,10010,32080,17,10:08:00,NY,E 58TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9998,40,VAN,0,0,0,17,10:15:00,NY,S/O E 58TH ST,W/O SUTTON PL,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021
9999,19,DELV,18130,10210,10110,17,00:05:00,NY,E 57TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-16,7,16,2021

In [14]:
df_1.sort_values(by=['Violation Date', 'Violation Time'], inplace=True)
df_1

C:\Users\YSK\AppData\Local\Temp\ipykernel_14388\735695388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.sort_values(by=['Violation Date', 'Violation Time'], inplace=True)

,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code,Violation Date,Violation Date (Month),Violation Date (Day),Violation Date (Year)
6647,20,SUBN,72720,27180,29220,46,00:04:00,BX,WALTON AVE,NaN,BBBBBBB,ALL,ALL,NaN,2000-06-27,6,27,2000
3082,78,NaN,0,40404,40404,105,22:00:00,Q,BROOKVILL,NaN,BBBBBBB,ALL,ALL,NaN,2000-06-28,6,28,2000
5337,35,VAN,10610,40404,40404,14,00:52:00,NY,7 AVE,NaN,BBBBBBB,ALL,ALL,NaN,2000-07-15,7,15,2000
1635,98,VAN,19990,17540,17740,106,01:05:00,Q,107 AVE,NaN,BBBBBBB,ALL,ALL,NaN,2010-07-21,7,21,2010
4787,16,SUBN,34610,10510,13610,14,00:40:00,NaN,W 42 ST,NaN,BBBBBBB,ALL,ALL,NaN,2019-06-22,6,22,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140,14,SUBN,62200,33490,0,100,15:31:00,Q,SHORE FRONT PKWY,BEACH 100 ST,BBBBBBB,ALL,ALL,NaN,2022-07-20,7,20,2022
3717,74,MOPE,31250,27950,47530,121,04:30:00,R,GROVE AVE,NaN,BBBBBBB,ALL,ALL,NaN,2024-07-24,7,24,2024
3730,74,MOPE,31250,27950,47530,121,04:30:00,R,GROVE AVE,NaN,BBBBBBB,ALL,ALL,NaN,2024-07-24,7,24,2024
9132,67,SDN,0,0,0,71,08:51:00,K,W/S BROOKLYN AVE,S/O STERLING ST,BBBBBBB,ALL,ALL,NaN,2029-06-29,6,29,2029
593,40,SDN,18090,7790,7990,115,23:09:00,NaN,89TH STREET,NaN,BBBBBBB,ALL,ALL,NaN,2031-07-01,7,1,2031

In [15]:
start_date = pd.to_datetime('2021-07-01')
end_date = pd.to_datetime('2022-06-30')

In [16]:
df_1 = df_1[(df_1['Violation Date'] >= start_date) & (df_1['Violation Date'] <= end_date)]
df_1

,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code,Violation Date,Violation Date (Month),Violation Date (Day),Violation Date (Year)
802,14,DELV,36390,35780,43490,112,00:05:00,Q,BOOTH STREET,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021
2553,14,SDN,40930,75530,81330,84,00:05:00,NY,FLATBUSH AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021
3262,91,SDN,67490,68090,43490,112,00:05:00,Q,WETHEROLE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021
3927,66,TLR,35560,25285,44750,121,00:05:00,R,CHRISTOPHER LANE,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021
2550,14,SDN,34230,28730,85630,84,00:09:00,BX,DUFFIELD,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,74,MOTO,45800,36950,30200,121,17:40:00,R,ROXBURY ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-27,7,27,2021
4522,46,SDN,36270,11710,27390,26,20:50:00,NaN,W 125TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-27,7,27,2021
6629,98,SUBN,31820,12550,8020,0,07:00:00,BX,FAILE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-29,7,29,2021
3293,78,P-U,27540,49920,21120,48,01:32:00,BX,E 196TH STREET,NaN,BBBBBBB,ALL,ALL,NaN,2021-08-09,8,9,2021
2341,74,SDN,19930,93530,54100,83,08:50:00,K,BLEECKER ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-08-10,8,10,2021

In [17]:
df_1['Violation Hour'] = df_1['Violation Time'].apply(lambda x: (x.hour % 24)).astype(int)
df_1['Violation Hour']

C:\Users\YSK\AppData\Local\Temp\ipykernel_14388\1034078261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Violation Hour'] = df_1['Violation Time'].apply(lambda x: (x.hour % 24)).astype(int)

802      0
2553     0
3262     0
3927     0
2550     0
        ..
1369    17
4522    20
6629     7
3293     1
2341     8
Name: Violation Hour, Length: 6438, dtype: int32

In [55]:
from datetime import datetime

def calculate_location_violation_rate(df, location, time_range, precinct, violation_date):
    start_time = datetime.strptime(time_range[0], "%H:%M").time()
    end_time = datetime.strptime(time_range[1], "%H:%M").time()

    filtered_data = df[(df['Street Name'] == location) & (df['Violation Date'] == violation_date) & (~df['Violation Time'].isna()) &
                       (df['Violation Time'].apply(lambda x: not pd.isna(x) and x == x and start_time <= x <= end_time))]

    print("filtered data:", len(filtered_data))

    total_location_violations = len((df['Violation Time'].between(start_time, end_time)) & (df['Violation Precinct'] == precinct) & (df['Violation Date'] == violation_date))
    print("total_location_violations:", total_location_violations)
    if total_location_violations == 0:
        return 0

    location_violations = len(filtered_data)

    location_violation_rate = (location_violations / total_location_violations) * 100

    return location_violation_rate

location = 'LEXINGTON AVE'
location_precinct = 25
time_range = ('00:00', '23:00')

violation_date = datetime.strptime('2021-07-17', '%Y-%m-%d').date()
rate = calculate_location_violation_rate(df_1, location, time_range, location_precinct, violation_date)
print(f'Location Violation Rate for {location} between {time_range[0]} and {time_range[1]}: {rate:.2f}%')

802     False
2553    False
3262    False
3927    False
2550    False
        ...
1369    False
4522    False
6629    False
3293    False
2341    False
Name: Violation Date, Length: 6438, dtype: bool
filtered data: 0
total_location_violations: 6438
Location Violation Rate for LEXINGTON AVE between 00:00 and 02:00: 0.00%

In [57]:
from datetime import datetime

def calculate_location_violation_rate(df, location, time_range):
    start_time = datetime.strptime(time_range[0], "%H:%M").time()
    end_time = datetime.strptime(time_range[1], "%H:%M").time()

    # 'NaT' değerleri kontrol et
    filtered_data = df[(df['Street Name'] == location) & (~df['Violation Time'].isna()) &
                       (df['Violation Time'].apply(lambda x: not pd.isna(x) and x == x and start_time <= x <= end_time))]

    print("filtered data:", len(filtered_data))
    # Belirli bir konumun toplam ihlal sayısı
    total_location_violations = len((df['Violation Code'] > 0) & (df['Violation Time'].between(start_time, end_time)))

    if total_location_violations == 0:
        return 0

    print("total_location_violations:", total_location_violations)


    # Belirli bir konum ve saat aralığındaki ihlal sayısı
    location_violations = len(filtered_data[filtered_data['Violation Code'] > 0])

    # Location Violation Rate hesapla
    location_violation_rate = (location_violations / total_location_violations) * 100

    return location_violation_rate

location = 'FLATBUSH AVE'
time_range = ('08:00', '23:00')
rate = calculate_location_violation_rate(df_1, location, time_range)
print(f'Location Violation Rate for {location} between {time_range[0]} and {time_range[1]}: {rate:.2f}%')

filtered data: 10
total_location_violations: 6438
Location Violation Rate for FLATBUSH AVE between 08:00 and 23:00: 0.16%

In [19]:
from datetime import datetime, timedelta

def calculate_violation_rate(row, df):
    location = row['Street Name']
    hour = row['Violation Hour']

    # Handle the case where hour is 24
    if hour == 23:
        start_time = datetime.strptime('23:00', '%H:%M').time()
        end_time = datetime.strptime('23:59', '%H:%M').time()
    else:
        start_time = datetime.strptime(f'{hour:02d}:00', '%H:%M').time()
        end_time = (datetime.strptime(f'{hour+1:02d}:00', '%H:%M') + timedelta(minutes=59, seconds=59)).time()

    filtered_data = df[(df['Street Name'] == location) & (df['Violation Time'].between(start_time, end_time))]

    # total_location_violations = len(df[(df['Street Name'] == location) & (df['Violation Code'] > 0) & (df['Violation Time'].between(start_time, end_time))])
    total_location_violations = len((df['Violation Code'] > 0) & (df['Violation Time'].between(start_time, end_time)))


    location_violations = len(filtered_data[filtered_data['Violation Code'] > 0])

    if total_location_violations == 0:
        return 0

    location_violation_rate = (location_violations / total_location_violations) * 100

    return location_violation_rate

df_1['Violation Rate'] = df_1.apply(lambda row: calculate_violation_rate(row, df_1), axis=1)

C:\Users\YSK\AppData\Local\Temp\ipykernel_14388\1606983720.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Violation Rate'] = df_1.apply(lambda row: calculate_violation_rate(row, df_1), axis=1)

In [20]:
df_1['Violation Rate']

802     0.015533
2553    0.093197
3262    0.015533
3927    0.015533
2550    0.015533
          ...
1369    0.015533
4522    0.046598
6629    0.015533
3293    0.015533
2341    0.015533
Name: Violation Rate, Length: 6438, dtype: float64

In [21]:
df_1

,Violation Code,Vehicle Body Type,Street Code1,Street Code2,Street Code3,Violation Precinct,Violation Time,Violation County,Street Name,Intersecting Street,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Violation Post Code,Violation Date,Violation Date (Month),Violation Date (Day),Violation Date (Year),Violation Hour,Violation Rate
802,14,DELV,36390,35780,43490,112,00:05:00,Q,BOOTH STREET,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021,0,0.015533
2553,14,SDN,40930,75530,81330,84,00:05:00,NY,FLATBUSH AVE,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021,0,0.093197
3262,91,SDN,67490,68090,43490,112,00:05:00,Q,WETHEROLE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021,0,0.015533
3927,66,TLR,35560,25285,44750,121,00:05:00,R,CHRISTOPHER LANE,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021,0,0.015533
2550,14,SDN,34230,28730,85630,84,00:09:00,BX,DUFFIELD,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-01,7,1,2021,0,0.015533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,74,MOTO,45800,36950,30200,121,17:40:00,R,ROXBURY ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-27,7,27,2021,17,0.015533
4522,46,SDN,36270,11710,27390,26,20:50:00,NaN,W 125TH ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-27,7,27,2021,20,0.046598
6629,98,SUBN,31820,12550,8020,0,07:00:00,BX,FAILE ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-07-29,7,29,2021,7,0.015533
3293,78,P-U,27540,49920,21120,48,01:32:00,BX,E 196TH STREET,NaN,BBBBBBB,ALL,ALL,NaN,2021-08-09,8,9,2021,1,0.015533
2341,74,SDN,19930,93530,54100,83,08:50:00,K,BLEECKER ST,NaN,BBBBBBB,ALL,ALL,NaN,2021-08-10,8,10,2021,8,0.015533

In [22]:
def scale_between_0_and_1(value, min_value, max_value):
    """
    Scale a value to be between 0 and 1.

    :param value: The value to be scaled.
    :param min_value: The minimum value in the range of your data.
    :param max_value: The maximum value in the range of your data.
    :return: Scaled value between 0 and 1.
    """
    if max_value == min_value:
        return 0  # Avoid division by zero if all values are the same

    return (value - min_value) / (max_value - min_value)

In [23]:
df_1['Violation Rate (Scaled)'] = df_1['Violation Rate'].apply(lambda x: scale_between_0_and_1(x, df_1['Violation Rate'].min(), df_1['Violation Rate'].max()))
df_1['Violation Rate (Scaled)']

C:\Users\YSK\AppData\Local\Temp\ipykernel_14388\3550620744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Violation Rate (Scaled)'] = df_1['Violation Rate'].apply(lambda x: scale_between_0_and_1(x, df_1['Violation Rate'].min(), df_1['Violation Rate'].max()))

802     0.034483
2553    0.206897
3262    0.034483
3927    0.034483
2550    0.034483
          ...
1369    0.034483
4522    0.103448
6629    0.034483
3293    0.034483
2341    0.034483
Name: Violation Rate (Scaled), Length: 6438, dtype: float64

In [38]:
df_1['Violation Rate'].max()

0.45045045045045046